/* HTML5 HACK um alles als Block darzustellen-------------------------------------- */

header,
section,
footer,
aside,
nav,
article {
    display: block;
}

/* LAYOUT ------------------------------------------ */

body {
    background: darkseagreen;
    font-size: 12px;
    color: #444;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    
    background-image: url(../imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

#doc {
    width: 100%;

    margin: 0 auto;
}

/* HEADER & NAVIGATION ------------------------------ */

#header {
    background: #333;
    padding: 0 15px;

}

#header h1 {
    margin: 0;
    padding: 15px 0;
    color: #A5A5A5;

}

#header nav ul {
    list-style-type: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#header nav ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

#header nav ul li a {
    display: inline-block;
    padding: 2px 10px;
    color: darkslategray;
    background-color: lightgoldenrodyellow;
    text-decoration: none;
}

#header nav ul li.active a,
#header nav ul li a:hover {
    background-color: #fff;
    color: #444;
}

/* CONTENT ------------------------------------------ */
#content{

    min-height: 60vh;
    font-size: 2.5em;
}

.main{
    margin: auto;
}

/*SECTION----------------------------------*/

section{
    width: 70%;
    margin: 5% 5%;
    padding: 5% 10%;
    background: #869681;
    border-radius: 20px;

}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .section {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(158, 185, 165, 0.6);
    }
}


.img{
    width: 80%;
}

section p, li{
    font-size: 1.2em;
}





/* SIDEBAR ------------------------------------------ */

aside {
    width: 300px;
    padding: 0 15px;
    margin: 0 0 10px 0;
    float: left;
}

/* FOOTER ------------------------------------------ */

footer {
    clear: both;
    background: darkslategrey;
    text-align: center;
    padding: 10px 15px;
    margin: 10px 0 0 0;
    color: lightsteelblue;
}

footer a {
    color: lightblue;
}
